html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
/*   display: inline-block; */
/*   width: 900px; */
}

/*  start nav bar stuff */
ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-menu li {
  float: left;
}

.nav-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-menu li a:hover:not(.active) {
  background-color: #111;
}

/*  End nav bar stuff */

.services-header-img{
  position: relative; 
  left: 10px;
  display: block;
  width: 100%;
}

h1{
  font-size: 150%;
  margin: 10px;
  padding: 5px;
}

.content > p:first-of-type {
  margin: 10px;
  padding: 5px;
  
}

.content {
  width: 85%;
/*   border: dashed green; */
  margin: 10px;
  padding: 5px;
  position: relative; 
  left: 10px;
}

.container {
/*   width: 800px; */
/*   margin: 20px; */
  display: flex;
  flex-wrap: wrap;
/*   border: solid cyan; */
/*   justify-content: space-evenly;   */
    justify-content: center;  
}

.item{
  width: 45%;
  height: 220px;
  margin-right: 18px;
  margin-bottom: 14px;
  padding: 6px;
  border: solid black .5px;
  background-color: #EDEDED;

}

.item :not(button){
  display: flex;
  align-items: space-evenly;
  padding: 6px;
  line-height: 16px;
}

.item p{
  margin-bottom: 8px;
}

.button {
  background-color: white;
  border: solid black 1px;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  margin-top: 2px;
  margin-left: 6px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 8px;
  position: relative; 
}

break{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}

hr { 
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  border-style: inset;
  border-width: .5px;
  border-color: black;
}
